@page
@model MicroML.Pages.IndexModel

<form method="post">
    <textarea name="CodeInput" rows="10" cols="60">@Model.CodeInput</textarea><br />
    <button type="submit">Generate an AST</button>
</form>

@if (Model.AstHtml != null)
{
    <div>
        <h2>AST Output:</h2>
        @Html.Raw(Model.AstHtml)
    </div>
}
